{{#if category.placemarks}}
  {{#each category.placemarks}}
    <div class="columns mt-6 box box-link-hover-shadow">
      <div class="column">
        <h2 class="title">
          {{name}}
          <i class="fas fa-map-pin" style="color:rgb(196,14,21)"></i>
            {{#if ../user.isAdmin}}
                <a href="/updatePlacemark/{{_id}}" class="button">
                    Edit Placemark
                </a>
            {{/if}}
            </h2>
        <p>{{description}}</p>
        <p class="has-text-weight-bold">Lat. {{latitude}} Lgt. {{longitude}}</p>
      </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-256x256">
                        <img src={{img}}>
                    </figure>
                </div>
                {{#if img}}
                        <a href="/category/{{_id}}/deleteImage">
                            <i class="fas fa-trash"></i>
                            Delete Image
                        </a>
                {{/if}}

                <div class="card-content">
                    <form action="/category/{{_id}}/uploadimage" method="POST" enctype="multipart/form-data">
                        <div id="file-select" class="file has-name is-fullwidth">
                            <label class="file-label"> <input class="file-input" name="imagefile" type="file" name="resume" accept="image/png, image/jpeg">
                                <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Choose a file…
            </span>
           </span>
                                <span class="file-name"></span>
                            </label>
                            <button type="submit" class="button is-info">Upload</button>
                        </div>
                    </form>

                </div>
            </div>
    </div>

    </div>
  {{/each}}
{{else}}
    <h1 class="title is-size-3 mt-4">No Placemarks in this Category yet!</h1>
{{/if}}

<script>
    const fileInput = document.querySelector(".file-input");
    fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
            const fileName = document.querySelector(".file-name");
            fileName.textContent = fileInput.files[0].name;
        }
    };
</script>