{{#if category.placemarks}}
  {{#each category.placemarks}}
    <div class="columns mt-6">
      <div class="box box-link-hover-shadow">
        <h2 class="title">
          {{name}}
          <i class="fas fa-map-pin" style="color:rgb(196,14,21)"></i>
            {{#if ../user.isAdmin}}
                <a href="/updatePlacemark/{{_id}}" class="button">
                    Edit Placemark
                </a>
            {{/if}}
        </h2>
        <p>{{description}}</p>
        <p class="has-text-weight-bold">Lat. {{latitude}} Lgt. {{longitude}}</p>
      </div>
    </div>
  {{/each}}
{{else}}
    <h1 class="title is-size-3 mt-4">No Placemarks in this Category yet!</h1>
{{/if}}
