<table class="table is-striped is-fullwidth">
    <thead>
    <tr>
        <th></th>
        <th>Nr.</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Emailadress</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
        {{#if userList}}
            {{#each userList}}
                {{#unless isAdmin}}
                    <tr>
                        <th><i class="fas fa-user"></i></th>
                        <th>{{@index }}</th>
                        <td>{{firstName}}</td>
                        <td>{{lastName}}</td>
                        <td>{{email}}</td>
                        <td>
                            {{#if ../user.isAdmin}}
                                <a href="/manageUsers/deleteUser/{{_id}}" class="button">
                                    <i class="fas fa-trash"></i>
                                </a>
                            {{/if}}
                        </td>
                    </tr>
                {{/unless}}
            {{/each}}
        {{else}}
            <h1 class="title is-size-3 mt-4">No Users</h1>
        {{/if}}

    </tbody>
</table>